$ease-break: cubic-bezier(0.07, 0.54, 0, 0.99);

$white: #fff;
$light-grey:      rgb(220,220,220);
$medium-grey:     rgb(127,127,127);
$grey:            rgb(73,73,72);
$black:           rgb(26,26,24);

$small-pad : 10;
$medium-pad : 20;
$large-pad : 40;

$small-factor: 1;
$medium-factor: 2;
$large-factor : 3;

